@model IEnumerable<Domain.Equipe>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>
<fieldset>
    <legend></legend>
    <form asp-action="index">
        <label for="filter">Nom du Club:</label>
        <input type="text" name="filter" />
        <input type="submit" value="Search" />
    </form>
</fieldset>



<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.AdresseLocal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Logo)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.NomEquipe)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.AdresseLocal)
            </td>
            <td>
                <img src="~/upload/@item.Logo " width="50" height="50" />
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.NomEquipe)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.EquipeId">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.EquipeId">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.EquipeId">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
